<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../dist/output.css">
  <title>Home</title>
</head>

<body class="h-screen">

  <div class="container absolute p-8 top-full">
    <button class="mx-auto bg-light-green rounded flex flex-row p-2">
      <span class="material-icons">add</span>
      <p class="">add task</p>
    </button>
  </div>

  <div id="modal" class="">
    <div class="w-full flex flex-col h-24 bg-light-green">
      <input class="bg-transparent border-b-1 border-solid  border-space-black" type="text" placeholder="task">
      <input class="bg-transparent border-b-1 border-solid  border-space-black" type="text" placeholder="description">
    </div>
  </div>

</body>

</html>