<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../dist/output.css">
  <title>login page</title>
</head>
<body class="h-screen flex items-center">
  <div class="container p-4 h-max">
  <div id="welcomeSign" class="">
    <h1 class="text-2xl font-semibold text-center">Welcome back !</h1>
  </div>
  <form action="#" class="mt-4">
    <div class="flex flex-col gap-6 items-center">
      <input id="usernameInput" class="w-64 h-12 drop-shadow-md rounded p-4" type="text" placeholder="username">
      <input id="passwordInput" class="w-64 h-12 drop-shadow-md rounded p-4" type="text" placeholder="password">
      <input id="loginSubmit" class="w-64 h-12 drop-shadow-md rounded p-2 bg-light-green font-semibold" type="submit" value="login using account" />
    </div>
    <div class="flex flex-col mt-4 items-center">
      <a href="./register.html" class="text-black-space font-semibold">dont have an account ?</a>
    </div>

  </form>
  </div>
</body>
<script src="../dist/bundled.js"></script>
</html>