<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles/output.css">
  <script src="https://kit.fontawesome.com/ba4a7e1428.js" crossorigin="anonymous"></script>
  <title>Welcome to application</title>
</head>
<body>
  <section id="header">
    <div class="flex flex-row justify-between align-middle">
    <h1 class="m-4 text-2xl font-sans font-semibold">Welcome</h1>
    <i class="fa-solid fa-user fa-xl m-4 self-center"></i>
    </div>
    <div id="callendarContainer" class="container-fluid flex flex-row gap-4 mt-4 justify-items-center justify-center">
      <h5>Sun</h5>
      <h5>Mon</h5>
      <h5>Tue</h5>
      <h5>Wed</h5>
      <h5>Thu</h5>
      <h5>Fri</h5>
      <h5>Sat</h5>
    </div>
  </section>

  <section id="main">

  </section>

  <section id="addButton" class="absolute bottom-0 w-full">
    <div class="flex flex-row justify-items-center">
      <button id="addTask" class="bg-slate-900 text-white p-2 m-2 w-32 rounded mx-auto">
        <i class="fa-solid fa-plus"></i> Add task
      </button>
    </div>
  </section>
</body>
</html>