<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles/output.css">
  <script src="https://kit.fontawesome.com/ba4a7e1428.js" crossorigin="anonymous"></script>
  <title>Welcome to application</title>
</head>
<body>
  <section id="header">
    <div class="flex flex-row justify-between align-middle">
    <h1 class="m-4 text-2xl font-sans font-semibold">Welcome</h1>
    <i class="fa-solid fa-user fa-xl m-4 self-center"></i>
    </div>
    <div id="callendarContainer" class="container-fluid flex flex-row gap-4 mt-4 justify-items-center justify-center">
      <h5>Sun</h5>
      <h5>Mon</h5>
      <h5>Tue</h5>
      <h5>Wed</h5>
      <h5>Thu</h5>
      <h5>Fri</h5>
      <h5>Sat</h5>
    </div>
  </section>

  <section id="main">

  </section>

  <div id="modal" class="hidden container m-2 p-2 w-72 mx-auto mt-24 rounded shadow-lg">
    <form action="#" class="flex flex-col gap-4">
    <label for="taskName">insert new task</label>
    <input id="taskName" class="border border-slate-900 rounded p-2" type="text">
    <label for="taskDetail">insert task detail</label>
    <textarea name="detail" class="border border-slate-900 h-12 rounded" id="taskDetail" cols="30" rows="10"></textarea>
    <input id="confirmTask" type="submit" placeholder="submit" class=" bg-slate-900 text-white p-2 rounded">
    </form>
  </div>

  <section id="addButton" class="absolute bottom-0 w-full">
    <div class="flex flex-row justify-items-center">
      <button id="newTask" class="bg-slate-900 text-white p-2 m-2 w-32 rounded mx-auto">
        <i class="fa-solid fa-plus"></i> Add task
      </button>
    </div>
  </section>
</body>
<script src="../app/index.js" type="text/javascript"></script>
</html>