<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles/output.css">
  <title>landing</title>
</head>

<body>
  <header class="flex flex-row w-100 p-2 gap-4">
    <div id="logo" class="text-2xl font-bold p-2 self-start">Notify</div>
    <nav class="flex flex-row w-100 p-2 grow justify-center">
      <ul id="menu" class="flex flex-row gap-4 ">
        <li class="p-2"><a href="/home" class="font-semibold capitalize">home</a></li>
        <li class="p-2"><a href="/home" class="font-semibold capitalize">about us</a></li>
        <li class="p-2"><a href="/home" class="font-semibold capitalize">blog</a></li>
        <li class="p-2"><a href="/home" class="font-semibold capitalize">social</a></li>
      </ul> 
      <!-- <div id="login_register" class="p-2 gap-4">
        <a id="login-button" href="/login" class="p-2 font-semibold bg-violet-400 rounded-sm w-24">login</a>
        <a id="register-button" href="/register" class="p-2 font-semibold bg-violet-400 rounded-sm w-24">register</a>
      </div> -->
    </nav>
  </header>

  <main>
    <div id="hero" class="container flex flex-row m-4 align-middle justify-items-center mt-12">
      <div id="jargon" class="flex flex-col justify-center p-2">
        <h1 id="big-text" class="text-4xl font-semibold">Your productivity super app</h1>
        <p id="short-desc" class="text-lg w-3/4 font-sans mt-4">notify is a productivity superapp which allows you to take notes, make schedules, reminders and wakes you up in the morning</p>
          <a href="/index" class="mt-4 bg-violet-400 rounded-sm p-2 w-48 text-center font-medium">let's get started</a>
      </div>
      <div id="hero-background" class="p-2">
        <img src="/public/assets/svg/hero-bg.svg" alt="">
      </div>
    </div>
<!-- 
    <div id="features" class="flex flex-col w-100 justify-between gap-4 m-8">

      <section id="note-card">
        <div id="notes">
          <h1 class="text-xl font-medium">write your notes</h1>
          <p>our note taking feature allowd you to make notes easily at any place, notes are automatically stored to the database so you dont have to save it</p>
        </div>
      </section>

      <section id="pomodoro-card">
        <div id="pomodoro">
          <h1 class="text-xl font-medium">stay focused</h1>
        </div>
      </section>

      <section id="event-card">
        <div id="organize">
          <h1 class="text-xl font-medium"> keep everything in sight</h1>
        </div>
      </section>

      <section id="alarm-card">
        <div id="alarm">
          <h1 class="text-xl font-medium"> dont miss anything </h1>
        </div>
      </section>
    </div> -->
  </main>
  <footer></footer>
</body>

</html>